/.metadata/
Dragon's Trawel/.metadata/.lock
Dragon's Trawel/.metadata/.log
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.ui.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
Dragon's Trawel/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Dragon's Trawel/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
Dragon's Trawel/.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Dragon's Trawel/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Dragon's Trawel/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Dragon's Trawel/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Dragon's Trawel/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Dragon's Trawel/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
Dragon's Trawel/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Dragon's Trawel/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.1.20210603-1006.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Dragon's Trawel/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.ui.intro/introstate
Dragon's Trawel/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Dragon's Trawel/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Dragon's Trawel/.metadata/version.ini
Dragon's Trawel/rmetrics.csv
